@{
    ViewBag.Title = "Admin panel";
}

@{
    var user = User.Identity.Name;
}

<p>
    Hello @user
</p>


<h2>Admin panel</h2>

<div>@Html.ActionLink("Add an new album", "AddAlbum", "User")</div>
<div>@Html.ActionLink("Rate an album", "AddRating", "User")</div>
<div>@Html.ActionLink("Add a new user", "AddUser", "Admin")</div>
<div>@Html.ActionLink("Show albums", "ShowAlbums", "Admin")</div>
<div>@Html.ActionLink("Modify an album", "ModifyAlbum", "Admin")</div>
<div>@Html.ActionLink("Modify a user", "ModifyUser", "Admin")</div>




